/* ||- General styling (nothing to do with flexbox layout) */
body {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0;
  margin: .5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: rgb(77, 114, 152);
  border: 2px solid rgb(119, 166, 182);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  margin: 0;
}

/* ||- Layout (flexbox related stuff) */
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
