/* ||- General styling (nothing to do with flexbox layout) */
body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0.25rem;
  padding: 0;
}

li {
  color: white;
  background-color: rgb(77, 114, 152);
  border: 2px solid rgb(119, 166, 182);
  border-radius: 0.5rem;
  margin: 0;
}

/* ||- Flexbox layout styling */
ul {
  display: flex;
  flex-direction: row;
}

li {
  flex: 1;
}