/* ||- General styling (nothing to do with flexbox layout) */
body {
  margin: 0;
}

.container {
  margin: 0.5rem;
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
}

.tags {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.tags > * {
  display: inline-block;
  background-color: #999;
  border-radius: .5rem;
  padding: 0.25rem;
  border: 1px solid black;
  margin: 0.25rem;

}


/* ||- Layout rules */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: minmax(15rem, auto);
  column-gap: 2rem;
  row-gap: 1rem;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
