<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>404 Not Found</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Font Awesome for the icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/styles1.css">

  </head>
  <body>
    <% include menu %>
    <div class="container">
      <div id="errPanel" class="jumbotron">
        <h1 id="errTitle" class="display-3">
          <img src="/images/bomb.png" alt="bomb icon">
          404 Not Found
        </h1>
        <p id="errDesc" class="lead">        
          The requested page does not exist.
        </p>
        <p><a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>&nbsp;&nbsp;Take me home</a></p>        
      </div>
    </div>
  </body>
</html>