<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Font Awesome for the icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/styles1.css">

  </head>
  <body>
    <% include menu %>
    <div class="container">    
      <h1><%= title %></h1>
      <p>Fill in the form below to sign in!</p>
      <% include messages %>    
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" name="user[name]" class="form-control" id="usernameInput" placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" name="user[pass]" class="form-control" id="passwordInput" placeholder="Enter your password">
        </div>      
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
