<!-- Completed! -->
<% if (locals.user) { %>
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="/"><span class="fa fa-bullhorn">&nbsp;Shoutbox!</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled">Hello, <%= user.name %>&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">Post&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<% } else { %>
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="/"><span class="fa fa-bullhorn">&nbsp;Shoutbox!</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
<% } %>