ul {
  display: flex;
  list-style: none;
  border: 2px solid rebeccapurple;
  width: 500px;
  margin: 10px;
}

.links-list a {
  background-color: rgb(179, 57, 81);
  color: #fff;
  padding: 1em 2em;
  margin: 10px;
  display: inline-block;
}

.links-list a:hover {
  background-color: rgb(66, 28, 40);
  color: #fff;
}