/* set the default size to 10px to simplify em/rem usage */
html {
  font-size: 10px;
}

/* make h1 50px */
h1 {
  font-size: 5rem;
  text-transform: capitalize; /* capitalize each word of h1 */
  text-shadow: 1px 1px 1px red,
               2px 2px 1px rebeccapurple;
}

/* make `<p>`s coming directly after `<h1>` bold */
h1 + p {
  font-weight: bold;
}

/* make p 15px in red, with sans-serif stack */
p {
  font-size: 1.5rem;
  color: red;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

/* text layout */
h1 {
  text-align: center;
}

p {
  line-height: 1.6;
}

p::first-line {
  letter-spacing: 4px;
  word-spacing: 8px;
}

h1 + p {
  text-indent: 20px;
}
