body {
  width: 500px;
  margin: 0 auto;  /* center horizontally */
}

p {
  background-color: aqua;
  border: 3px solid blue;
  padding: 1rem;
  margin: 1rem;;
}

span {
  background-color: red;
  border: 1px solid black;
}

/* additions for positioning exercises */
body {
  width: 500px;
  height: 1400px;
  margin: 0 auto;
}

h1 {
  position: fixed;
  top: 0;
  width: 50rem;
  margin-top: 0;
  background-color: #fff;
  padding: 1rem;
}

p:nth-of-type(1) {
  margin-top: 6rem;
}
