/*
  Error Page Styling
*/

@font-face {
  font-family: "Pixelated";
  src: url("/fonts/LCD_Solid.ttf");
}

h1#errTitle {
  font-family: "Pixelated", sans-serif;
}

#errPanel {
  border: 1px solid black;
  background-color: white;
}
