/* ||- General styling */

.container {
  border: 5px solid grey;
}

p {
  padding: 1rem;
}

.target {
  background-color: rgb(207, 232, 220);
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

/* Exercise related CSS */
.container {
  position: relative;
}

.target {
  position: absolute;
  top: 0;
  right: 0;
}