/* ||- General styling */

.container {
  border: 5px solid grey;
  width: 40rem;
}

p {
  padding: 1rem;
}

.sidebar {
  background-color: rgb(207, 232, 220);
  width: 10rem;
  padding: 1rem;
}

/* Exercise related CSS */
