.strike-through {
  text-decoration: line-through;
}

#subform {
  background: gray;
}

@font-face {
  font-family: "Pixelated";
  src: url("/fonts/LCD_Solid.woff"),
       url("/fonts/LCD_Solid.ttf");
}

h1#errTitle {
    font-family: "Pixelated", sans-serif;
}

#errPanel {
    border: 1px solid black;
    background-color: white;
}

#errDesc {
    font-family: "Pixelated", sans-serif;
}