/*
1. Give all the `<li>` elements featuring a `class` attribute a font-size of 200%.

2. Give all the `<li>` elements featuring a `class="a"` attribute a yellow background.

3. Give all the `<li>` elements featuring `class` and containing `"a"` as the value, or in a space separated list a red font color.
*/

li[class] {
  font-size: 200%;
}

li[class="a"] {
  background-color: yellow;
}

li[class~="a"] {
  color: red;
}

li[class^="x"] {
  background-color: rebeccapurple;
}

li[class$="x"] {
  color: green;
}