p,
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

li,
.block {
  border: 2px solid blue;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
}

span {
  color: green;
}

.block {
  display: block;
}