.container {
  border: 5px solid blue;
  margin: 40px;
}

p {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 10px;
}

.one {
  margin-bottom: 50px;
}

.two {
  margin-top: 30px;
}