body {
  width: 500px;
  margin: 0 auto;  /* center horizontally */
}

p {
  background-color: aqua;
  border: 3px solid blue;
  padding: 1rem;
  margin: 1rem;;
}

span {
  background-color: red;
  border: 1px solid black;
}

/* additions for positioning exercises */
.positioned {
  position: relative;
  background-color: yellow;
  top: 3rem;
  left: 3rem;
}