body {
  margin: 0;
}

header {
  background-color: rebeccapurple;
  height: 10rem;
}

h1 {
  text-align: center;
  color: white;
  line-height: 10rem;
  margin: 0;
}

article {
  padding: 1rem;
  margin: 1rem;
  background-color: aqua;
}

/* enable flexbox by setting display: flex on the parent container */
section {
  display: flex;
}

article {
  flex: 1; /* make all elements take up same space along the main axis */
}

article:nth-of-type(3) {
  flex: 2;  /* make the third item take up the double as the other ones along the main axis */
}
