/* ||- General rules */
body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.box {
  width: 15rem;
  height: 10rem;
  border-radius: .5rem;
  background-color: rgb(207,232,220);
  padding: 1em;
}

.special {
  background-color: rgb(79,185,227);
  padding: 10px;
  color: #fff;
}

.cleared {
  clear: left;
}
/* ||- Layout related */
.box {
  float: left;
  margin: 1.5rem; /* push text away from the float */
}
