p {
  border: 2px solid rebeccapurple;
  padding: 30px;
  margin: 10px;
  width: 300px;
}

span {
  display: inline-block;
  background-color: lightblue;
  border: 1px solid blue;
  margin: 20px;
  padding: 20px;
  width: 80px;  /* respected in inline-block boxes */
  height: 50px; /* respected in inline-block boxes */
}
