/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'TeXGyreTermes';
  src: url('/fonts/texgyretermes-regular-webfont.woff2') format('woff2'),
       url('/fonts/texgyretermes-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-regular-webfont.woff2') format('woff2'),
       url('/fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ||- General */

html {
  font-family: 'TeXGyreTermes', serif;
  font-size: 10px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.25rem;
}

p, li {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  letter-spacing: 0.1rem;
  word-spacing: .25rem;
}

h2 + p::first-line {
  text-indent: 2rem;
}
