/* ||- General styling (nothing related to layout) */

body {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container > div {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
}

/* ||- Layout rules */
.container {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
}
