/* ||- General styling (nothing to do with flexbox layout) */
body {
  margin: 0;
}

.box {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(79,185,227);
  display: flow-root;
}

.float {
  width: 10rem;
  height: 10rem;
  background-color: rgb(207, 232, 220);
  padding: 1rem;
  margin: 1rem;
  float: right;
}

p {
  margin: 2rem 1rem;
  color: #fff;
}