.box {
  width: 200px;
  height: 75px;
  border: 1px solid black;
  margin: 10px;
}

.a {
  background-image: url(/images/food_small.jpg);
}

.b,
.d {
  background-image: url(/images/white_heart_small.png);
}

.c {
  background-image: url(/images/bomb.png);
  background-color: rebeccapurple;
}

.d {
  background-repeat: no-repeat;
}

.e {
  background-image: url(/images/food_small.jpg);
  background-repeat: no-repeat;
  background-size: contain;  /* orig: 100px 10em; */
}

.f {
  background-image: url(/images/white_heart_small.png);
  background-repeat: no-repeat;
  background-position: 30px bottom;
}