a:link {
  color: orange;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration-line: none;
}

.container p:first-child {
  font-size: 150%;
}

.container p:first-child::first-line {
  color: red;
}

tr:nth-child(even) {
  background-color: #333;
  color: white;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}