/* ||- General styling (nothing related to layout) */

body {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
}

header,
footer {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
}

aside {
  border-right: 1px solid #999;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

aside p {
  margin-top: 2.6rem;
}


/* ||- Layout rules */

/* enabling the grid system, but no placement rules */
.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;
}

/* placement rules */
header {
  grid-row: 1;
  grid-column: 1 / 13;
}

article {
  grid-row: 2;
  grid-column: 4 / 13;
}

aside {
  grid-row: 2;
  grid-column: 1 / 4;
}

footer {
  grid-row: 3;
  grid-column: 1 / 13;
}
