/* General styles */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

ul, ol, p {
  font-size: 1.5rem;
}

li, p {
  line-height: 1.5;
}

/* now the exercise tasks */
ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}
