<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf8">
    <title>Read Later...</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">

    <!-- This is recommended for Bootstrap 4 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles1.css">

    <!-- Font Awesome for the icons -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-3">Read Later...</h1>
      <p class="lead">
        Simple <b>Express</b> application integrated with the <b>EJS</b> template engine.
      </p>
    </div>